*/.gradle
*/*/*/.gradle
*/*/*/*/.gradle

*/build
*/*/build
*/*/*/build
*/*/*/*/build

*/.settings
*/*/*/.settings
*/*/*/*/.settings

*/bin
*/*/*/bin

*/.classpath
*/*/*/.classpath

*/.project
*/*/*/.project

*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea

*/out
*/*/out
*/*/*/out
*/*/*/*/out

*/*.iml
*/*/*.iml
*/*/*/*.iml
*/*/*/*/*.iml

*/*.ipr
*/*/*.ipr
*/*/*/*.ipr
*/*/*/*/*.ipr

*/*.iws
*/*/*.iws
*/*/*/*.iws
*/*/*/*/*.iws