bin
.gradle
.settings
gradle
.classpath
.project
gradlew
gradlew.bat
settings.gradle
*.iml
*.md5

*/.settings
*/*/.settings
*/*/*/.settings
*/*/*/*/.settings

*/target
*/*/target
*/*/*/target
*/*/*/*/target

*/build
*/*/build

*/logs
*/*/logs

*/.idea
*/*/.idea