<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">

	<Properties>
		<Property name="PATTERN">%d %-5p [%t] %C{1} (%F:%L) - %m%n</Property>
	</Properties>

	<Appenders>
		<Socket name="Logstash" host="127.0.0.1" port="4561" protocol="TCP">
			<PatternLayout pattern="${PATTERN}" />
		</Socket>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Logstash" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>